[tool.poetry]
name = "mebula"
version = "0.1.2"
description = ""
authors = ["Matt Williams <matt@milliams.com>"]
license = "MIT"
readme = "README.rst"
repository = "https://github.com/milliams/mebula"

[tool.poetry.dependencies]
python = "^3.6"
oci = "^2.9.0"
google-api-python-client = "^1.7.11"
lark-parser = "^0.7.8"

[tool.poetry.dev-dependencies]
pytest = "^5.2"
black = {version = "^19.10b0", allow-prereleases = true}
mypy = "^0.761"
flake8 = "^3.7.9"
coverage = "^5.0.3"

[build-system]
requires = ["poetry>=1.0.0"]
build-backend = "poetry.masonry.api"
